{% extends "base.html" %}{% load static %}
{% block meta %}
    <!-- Open Graph Meta Tags (Facebook, LinkedIn) -->
    <meta property="og:title" content="Recipes by {{ profile.first_name }}">
    <meta property="og:description" content="All recipes by {{ profile.first_name }} {{ profile.last_name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.host }}{% url 'recipe:user_recipes' profile.id %}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.host }}{% static 'core/img/flavor-fushion' %}">
    <meta property="og:image:width" content="900">
    <meta property="og:image:height" content="900">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="Recipes by {{ profile.first_name }}">
    <meta name="twitter:title" content="Recipes by {{ profile.first_name }}">
    <meta name="twitter:description" content="All recipes by {{ profile.first_name }} {{ profile.last_name }}">
    <meta name="twitter:url" content="{{ request.scheme }}://{{ request.host }}{% url 'recipe:user_recipes' profile.id %}">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.host }}{% static 'core/img/flavor-fushion' %}">
    <meta name="twitter:image:width" content="900">
    <meta name="twitter:image:height" content="900">

    <!-- Additional Meta Tags (optional) -->
    <meta name="author" content="{{ profile.first_name }} {{ profile.last_name }}">
    <meta name="description" content="all recipes by {{ profile.first_name }} {{ profile.last_name }}">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/css/user_recipes.css' %}">
{% endblock css %}
{% block title %}{{ recipe.author.first_name }} {{ recipe.author.last_name}}{% endblock %}
{% block content %}

<!-- This is a template for recipes for a user -->
<section class="section">
    <h2 class="section__title">All recipes by {{ profile.first_name }} {{ profile.last_name }}</h2>
    <h3 class="section__subtitle">Recipes</h3>
    <article class="recipes">
        <ul class="recipe__list">
            {% for recipe in recipes %}
            <li class="recipe__item">
                <a href="{% url 'recipe:recipe_detail' recipe.id %}" class="recipe__link">
                    {% if recipe.cover_image %}
                    <img src="{{ recipe.cover_image.url }}" alt="{{ recipe.title }}" class="recipe__image">
                    {% else %}
                    <img src="{% static 'core/img/default.png' %}" alt="{{ recipe.title }}" class="recipe__image">
                    {% endif %}
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                </a>
            </li>
            {% empty %}
            <p class="no__recipe-text">No recipes yet</p>
            {% endfor %}
        </ul>
    </article>
</section>
{% endblock content %}
{% block js %}
{% endblock js %}