-i https://pypi.org/simple
asgiref==3.7.2; python_version >= '3.7'
django==5.0.1; python_version >= '3.10'
django-ckeditor==6.7.0; python_version >= '3.8'
django-js-asset==2.2.0; python_version >= '3.8'
pillow==10.2.0; python_version >= '3.8'
sqlparse==0.4.4; python_version >= '3.5'
