/* Import the base file */
@import url('./base.css');

/* For all the input fields */
input,
select {
    width: 60vw;
    padding: 1rem;
    margin: 0 20vw;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 20px;
    border-width: 2px;
    background-color: #fff;
    color: var(--color-text-secondary);
}

/* For the section title */
.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-text-secondary);
    margin-top: 2rem;
    text-align: center;
}


/* For the labels */
label {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

/* For the ckeditor */
.django-ckeditor-widget {
    width: 90vw;
    margin-left: 5vw;
}

/* For the submit button */
button[type="submit"] {
    display: block;
    width: 60%;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 2rem;
    border: 2px solid var(--color-text-secondary);
    font-size: 1rem;
    text-align: center;
    background-color: var(--color-text-secondary);
    color: var(--color-primary);
    margin-bottom: 2rem;
}
button[type="submit"]:hover {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
}



/* For Tablet View */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
    
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
    html {
        font-size: 1rem;
    }

    /* For all the input fields */
    input,
    select {
        width: 80vw;
        padding: 1rem;
        margin: 0 10vw;
    }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 930px) 
    and (orientation: landscape) {
    
}