{% extends "base.html" %}{% load static %}
{% block meta %}
    <!-- Open Graph Meta Tags (Facebook, LinkedIn) -->
    <meta property="og:title" content="Terms And Conditions Flavor Fusion">
    <meta property="og:description" content="Terms and conditions when using flavor fusion">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.host }}{% url 'core:terms' %}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.host }}{% static 'core/img/flavor-fushion' %}">
    <meta property="og:image:width" content="900">
    <meta property="og:image:height" content="900">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="Terms and Conditions Flavor Fusion">
    <meta name="twitter:title" content="Terms and Conditions Flavor fusion">
    <meta name="twitter:description" content="Terms and conditions when using flavor fusion">
    <meta name="twitter:url" content="{{ request.scheme }}://{{ request.host }}{% url 'core:terms' %}">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.host }}{% static 'core/img/flavor-fushion' %}">
    <meta name="twitter:image:width" content="900">
    <meta name="twitter:image:height" content="900">

    <!-- Additional Meta Tags (optional) -->
    <meta name="author" content="Opaque Maniac">
    <meta name="description" content="terms and conditions when using the flavor fusion platform">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/terms.css' %}">
{% endblock css %}
{% block title %}Terms & conditions{% endblock %}
{% block content %}
<!-- Template for terms and conditions -->

<section class="section">
    <h2>Terms & conditions</h2>
    <h3>By accessing and using this website, you agree to abide by these fictional terms and conditions.</h3>
    <ol class="terms-list">
        <li>All characters and events mentioned on this website are purely fictional and do not represent real
            individuals or occurrences.</li>
        <li>The content on this website is for entertainment purposes only and should not be considered as professional
            advice.</li>
        <li>Any resemblance to actual persons, living or dead, or actual events is purely coincidental.</li>
        <li>We reserve the right to change, modify, or discontinue any feature or aspect of this website at any time.
        </li>
        <li>Users are prohibited from attempting to reverse engineer, hack, or otherwise interfere with the website's
            functionality.</li>
        <li>This website may use cookies for a better user experience; however, these cookies are entirely fictional and
            have no actual functionality.</li>
        <li>The website owner is not responsible for any loss, injury, or inconvenience caused by the use of this
            website.</li>
        <li>Users are encouraged to use this website responsibly and respect the privacy of others.</li>
        <li>All intellectual property, including but not limited to text, images, and logos, is the property of the
            website owner.</li>
        <li>Any user-generated content submitted to the website becomes the property of the website owner.</li>
        <li>We do not guarantee the accuracy, completeness, or timeliness of any information on this website.</li>
        <li>Users are responsible for keeping their account information secure and confidential.</li>
        <li>The website owner reserves the right to suspend or terminate user accounts for any reason.</li>
        <li>Users are prohibited from engaging in any unlawful or harmful activities on this website.
        <li>This website may contain links to external websites; however, we do not endorse or take responsibility for
            the content of those sites.</li>
        <li>Users may contact the website owner for fictional support, but we do not guarantee a response or resolution.
        </li>
        <li>These terms and conditions are subject to change without notice.</li>
        <li>By continuing to use this website, you acknowledge that you have read and understood these fictional terms
            and conditions.</li>
    </ol>
</section>
{% endblock content %}
{% block js %}
{% endblock js %}