{% extends "base.html" %}{% load static %}
{% block meta %}
    <!-- Meta tags for bots -->
    <meta name="googlebot" content="noindex">
    <meta name="googlebot-news" content="nosnippet">
    <meta name="robots" content="noindex">
    <meta name="robots" content="noarchive">
    <meta name="robots" content="nofollow">
    <meta name="robots" content="nosnippet">
    <meta name="robots" content="noimageindex">
    <meta name="robots" content="noodp">
    <meta name="robots" content="noydir">
    <meta name="robots" content="nocache">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/edit_profile.css' %}">
{% endblock css %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<!-- Template to edit user profile -->

<section class="section">
    <h2 class="section__title">Edit profile</h2>
    <form class="form login_form" method="post" action=".">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__group">
            <label class="form__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <small class="form__text form__text--error">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
       <button class="btn btn--primary" type="submit">Sign Up</button>
    </form>
</section>
{% endblock content %}
{% block js %}
    <script type="text/javascript" src="{% static 'users/js/edit_profile.js' %}"></script>
{% endblock js %}