{% extends "base.html" %}{% load static %}
{% block meta %}
    <!-- Meta tags for bots -->
    <meta name="googlebot" content="noindex">
    <meta name="googlebot-news" content="nosnippet">
    <meta name="robots" content="noindex">
    <meta name="robots" content="noarchive">
    <meta name="robots" content="nofollow">
    <meta name="robots" content="nosnippet">
    <meta name="robots" content="noimageindex">
    <meta name="robots" content="noodp">
    <meta name="robots" content="noydir">
    <meta name="robots" content="nocache">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile.css' %}">
{% endblock css %}
{% block title %}{{ profile.first_name }} {{ profile.last_name }}{% endblock %}
{% block content %}
<!-- Template for user profile -->

<section class="section">
    <h2 class="profile__name">{{ profile.first_name }} {{ profile.last_name }}</h2>
    <div class="profile__info">
        <div class="profile__info--picture">
            {% if profile.profile_picture %}
                <a href="{{ profile.profile_picture.url }}" target="_blank">
                    <img class="profile-picture" src="{{ profile.profile_picture.url }}" alt="{{ profile.first_name }} {{ profile.last_name }}">
                </a>
            {% else %}
                <a href="{% static 'users/img/default-profile-img.png' %}" target="_blank">
                    <img class="profile-picture" src="{% static 'users/img/default-profile-img.png' %}" alt="{{ profile.first_name }} {{ profile.last_name }}">
                </a>
            {% endif %}
        </div>
        <div class="profile__info--details">
            <p class="profile__info--details--email">Email: <span>{{ profile.email }}</span></p>
            <p class="profile__info--details--first_name">First name: <span>{{ profile.first_name }}</span></p>
            <p class="profile__info--details--last_name">Last name: <span>{{ profile.last_name }}</span></p>
            <p class="profile__info--details--phone">Phone: <span>{{ profile.phone }}</span></p>
            <p class="profile__info--details--address">Address: <span>{{ profile.address }}</span></p>
            <p class="profile__info--details--city">City: <span>{{ profile.city }}</span></p>
            <p class="profile__info--details--country">Country: <span>{{ profile.country }}</span></p>
        </div>
    </div>
    <div class="action__link">
        <a href="" ></a>
    </div>
        
</section>
{% endblock content %}
{% block js %}
{% endblock js %}