<!-- This is the footer section -->

<footer class="footer">
    <h2 class="footer__title">Thanks for visiting</h2>
    <nav class="footer__nav">
        <ul class="footer__list">
            <p class="footer__list-title">Quick Links</p>
           
            <li class="footer__list-item"><a href="{% url 'core:contact' %}">Contact</a></li>
            <li class="footer__list-item"><a href="{% url 'recipe:all_recipes' %}">Recipes</a></li>
            <li class="footer__list-item"><a href="{% url 'core:terms' %}">Terms & Condition</a></li>
        </ul>
    </nav>
    <p class="footer__copyright"></p>
    <p class="id" color="red" text-align="center">@ Designed & Developed By Polipalli Rajesh</p>
</footer>

<script type="text/javascript">
    let year = new Date().getFullYear();
    document.querySelector('.footer__copyright').textContent = `© ${year} - ${year } 2024;
</script>