
:root {
    --font-family: 'Inter', sans-serif;
    --font-family-secondary: 'Dancing Script', cursive;
    --font-size: 1rem;
    --font-size-mobile: 2rem;
    --font-weight: 400;
    --line-height: 1.5;
    --color-primary: #FF6347;
    --color-secondary: #F9A825;
    --color-background: #010101;
    --color-accent: #4CAF50;
    --color-nav: #f79381;
    --color-text-secondary: #333333;
    --color-border-accent: #CCCCCC;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--font-family-secondary) !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
